body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}
@media all and (max-width: 767px){
    .baner-responsive{
        height: 300px;
        object-fit: cover;
    }
}
