@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 3em;
}

main {
    flex-grow: 1;
    margin-top: 8em;
}

.iconoRedes {
    font-size: 2rem;
}

.funcionColapse {
    --bs-scroll-height: 100px;
}

.pelicula {
    padding: 18vh 0 0 0;
}

.img-carusel {
    height: 320px;
    transition: transform .2s;
}

.img-carusel:hover {
    transform: scale(1.2);
}

/* .card-Carousel {
    height: 400px;
    margin: 0px;
    padding: 0px;
} */

/* .carrouserBanner {
    height: 500px;
    margin: .5em;
} */

.carrouserBannerImg {
    width: 100%;
    object-fit: fill;
    height: 500px;
}

.botonAnteriorSiguiente {
    width: 60px;
    margin: 20px;
}

footer {
    background: #000;
    padding: 20px 0px;
    color: white;
    text-align: center;
  }

a {
    outline: none;
    text-decoration: none;
    color: rgba(229, 241, 252, 0.926);
}

a:hover {
    color: rgba(229, 241, 252, 0.926);
}

#imga {
    height: 400px;

    margin: 1em;
    padding: 0px;
}

.c {
    height: 220px;
    width: 300px;
    transition: transform .2s;
}

.colorante-v{
    background-color: #198754;
    border-radius: 25%;
    height: 5%;
}
.colorante-m{
    background-color: #811987;
    color: white;
    border-radius: 25%;
    height: 5%;
}
.colorante-f{
    background-color: #ff8820;
    color: white;
    border-radius: 25%;
    height: 5%;
}
.colorante-vo{
    background-color: #20cfffcb;
    color: white;
    border-radius: 25%;
    height: 5%;
}
.colorante-vo:hover{
    color: white;
    background-color: #20cfffcb;
}
.colorante-a{
    background-color: #0060fbcb;
    color: white;
    border-radius: 25%;
    height: 5%;
}
.colorante-m:hover{
    color: white;
    background-color: #811987;
}

@media (max-width: 500px){
    .carrouserBanner{
        height: 100%;
    }
    .carrouserBannerImg{
        height: 100%;
    }
} 
